<header>
    <nav class="navbar">
    
        <div class ="navbar-logo">
            <a href="#"><%= image_tag 'logo.png' %></a>
        </div>

        <div class ="navbar-right">
            <a href="#">THPbab, la référence du kebab à Lyon !</a>

        </div>       
    </nav>
</header>