<div class="tabs">
	<ul class="tab-links">
		<li class="active"><a href="#tab1">Nos sandwichs chauds</a></li>
		<li><a href="#tab2">Nos paninis</a></li>
		<li><a href="#tab3">Nos sandwichs froids</a></li>
		<li><a href="#tab4">Nos burgers maison</a></li>
	</ul>

	<div class="tab-content">
		<div id="tab1" class="tab active">
			<h2>Nos sandwichs chauds</h2>
			<p>Kebab – 5.00€ (seul) + frites : 6.00€ – en menu : 7.00€</p>
      <p>Köfte – 5.00€ (seul)+ frites : 6.00€ – en menu : 7.00€</p>
      <p>Mexicain  – 5.00€ (seul)+ frites : 6.00€ – en menu : 7.00€</p>
      <p>Merguez  – 5.00€ (seul)+ frites : 6.00€ – en menu : 7.00€</p>
      <p>Saucisse  – 5.00€ (seul)+ frites : 6.00€ – en menu : 7.00€</p>
      <p>Americain steak  – 5.00€ (seul) + frites : 6.00€ – en menu : 7.00€</p>
      <p>Chicken Chika  – 5.00€ (seul)+ frites : 6.00€ – en menu : 7.00€</p></p>
		</div>

		<div id="tab2" class="tab">
			<h2>Nos paninis</h2>
			<p>3 fromages (raclette, mozzarelle, chèvre) : 5.50€ (seul) + frites : 6.50€ – en menu : 7,50€</p>
      <p>Jambon raclette: 5.50€ (seul) + frites : 6.50€ – en menu : 7,50€</p>
      <p>Kebab : 5.50€ (seul) + frites : 6.50€ – en menu : 7,50€</p>
      <p>Merguez : 5.50€ (seul) + frites : 6.50€ – en menu : 7,50€</p>
		</div>

		<div id="tab3" class="tab">
      <h2>Nos sandwichs froids</h2>
			<p>Surimi : 5.00€ (seul) + frites : 5.50€ – en menu : 6.50€</p>
      <p>Thon : 5.00€ (seul) + frites : 5.50€ – en menu : 6.50€</p>
      <p>Jambon : 5.00€ (seul) + frites : 5.50€ – en menu : 6.50€</p>		
    </div>

		<div id="tab4" class="tab">
			<h2>Nos burgers maison</h2>
			<p>Nouveaux burgers disponibles</p>
      <p>Viande hachée minute maison, pain brioché du boulanger</p>
      <p>véritable Cheddar fondu</p>
      <p>Hamburger maison : 7.50€ (seul) + frites : 9.50€</p>
		</div>
	</div>
</div>