.dots {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  width: 100px;
  margin: 0 auto;
  font-size: 20px;  
}

.carousel-content {
  position: absolute;
  bottom: 40%;
  left: 20%;
  z-index: 2;
  color: white;
  font-size: 120px;
  font-weight: 600;
  text-shadow: 0 2px 4px rgba(0,0,0,.6);
}

.carousel-sub {
  position: absolute;
  bottom: 30%;
  left: 20%;
  z-index: 2;
  color: white;
  font-size: 80px;
  font-weight: 400;
  text-shadow: 0 2px 4px rgba(0,0,0,.6);
}


.slider {
  position: relative;
  overflow: hidden;

  &:hover {
  	.slider_next,
  	.slider_prev {
  		display: block;
  	}

  }
  
  &_next,
  &_prev {
    position: absolute;
    top: 35%;
    z-index: 1;
    display: none;
    width: auto;
    height: auto;
    padding: 2% 4%;
    background: #000;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 2em;
    opacity: 0.8;
    cursor: pointer;
    
    &:hover {
      opacity: 1;
      -webkit-transition: all 0.2s ease;
    }
    
  }

  &_next {
    right: 0;
  }
  
  ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    
    li {
      float: left;
      margin: 0;
      padding: 0;
      position: relative;
      background: rsgb(0, 0, 0);
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}
